{% extends "tutorial/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <!-- <h1>Printing Portal</h1> -->
    <!-- <p class="lead">Printing Portal</p> -->
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">If you have printed his pdf. Kindly mark the checkbox.</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock %}