{% extends "tutorial/layout.html" %}
{% block content %}
  <!-- <h1>Printing Portal</h1> -->
  <!-- <p class="lead">Printing Portal</p> -->
  {% if user.is_authenticated %}
    <div class="content-section">
		<form action="{% url 'place_order' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>
	</div>
  {% endif %}
{% endblock %}

